
.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #E4B028;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}


.card.highlight-card {
  background-color: #E4B028;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

a {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 1rem 2rem 1rem;
  margin: 2em;
  cursor: pointer;

}
a {
  /* color: #24292e; */
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 10px 10px;
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: 5px;
  /* background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%); */
  margin-left: 4px;
  font-weight: 600;
}

