<div class="container ">
    <h4>details burger</h4>
    <div class="detail d-flex">
        <img src="assets/images/b8.png" alt="">

        <p class="mt-5">Burger tres lorem lorem lorem naturels Science
            is an enterprise that should be cherished as an
            activity of the free human mind. Because it transforms
            so there's no reason to think that Earth would be unique. we find that. </p>

    </div>
    <div class="btn">
        <input type="number">
        <a href="" class="btn btn-secondary">Ajouter panier</a>
    </div>
    <div class="complements">
        <a href="" class="btn btn-secondary m-4">boisson</a>
        <a href="" class="btn btn-secondary">frites</a>
        <p>veuillez choisir des complements:</p>
        <!-- <div class="img">
            <img src="assets/images/boisson.png" alt="" class="im">
            <img src="assets/images/bB.png" alt="" class="im">
            <img src="assets/images/fd.png" alt="" class="im">
            <img src="assets/images/sprite.png" alt="" class="im">
            <img src="assets/images/frites.png" alt="" class="im">
             <img src="assets/images/frites.png" alt="..." class="img-thumbnail "> 
        </div> -->
        <div class="container d-flex mt-3 border border-3">
    
            <div class="card m-2" style="width: 12rem">
                <i class="fa-solid fa-plus fa-2x"></i>
                <img src="assets/images/boisson.png" class="card-img-top" alt="...">
              </div>
              <div class="card m-2" style="width: 12rem">
                <i class="fa-solid fa-plus fa-2x"></i>
                <img src="assets/images/bB.png" class="card-img-top" alt="...">
              </div>
              <div class="card m-2" style="width: 12rem">
                <i class="fa-solid fa-plus fa-2x"></i>
                <img src="assets/images/fd.png" class="card-img-top" alt="...">
              </div>
              <div class="card m-2" style="width: 12rem">
                <i class="fa-solid fa-plus fa-2x"></i>
                <img src="assets/images/frites.png" class="card-img-top" alt="...">
              </div>
              <div class="card m-2" style="width: 12rem">
                <i class="fa-solid fa-plus fa-2x"></i>
                <img src="assets/images/bi.png" class="card-img-top" alt="...">
              </div>
              <div class="card m-2" style="width: 12rem">
                <i class="fa-solid fa-plus fa-2x"></i>
                <img src="assets/images/sprite.png" class="card-img-top" alt="...">
              </div>
        </div>
    </div>
</div>