<!-- {{(produit$|async)?.details|json}} -->
<app-header></app-header>
<ng-container *ngIf="produit$|async as detailProduit">

  <div class="container ">
    <h4 class="justify-content-center">Details Produit </h4>
    <div class="detail d-flex">

      <img src="data:image/PNG;base64,{{detailProduit.produit.image}}" alt="" style="width: 22rem;">
      <div class="m-5">
        <p class="mt-5">Burger tres lorem lorem lorem naturels Science
          is an enterprise that should be cherished as an
          activity of the free human mind. Because it transforms
          so there's no reason to think that Earth would be unique. we find that. </p>
          <h3>Nom Produit:{{detailProduit.produit.nom}}</h3>
          <h3>Prix:{{detailProduit.produit.prix}}</h3>
      </div>
      
    </div>
    <div class="d-flex justify-content-around ">
      <input type="number">
      <a href="" class="btn btn-secondary m-6">Ajouter panier</a>
    </div>
    <div class="container  mt-6 border border-1">
        <h3>veuillez choisir des complements de plus:</h3>
        <app-liste-details [details]="detailProduit.boissons"></app-liste-details>
        <app-liste-details [details]="detailProduit.portions"></app-liste-details>

      </div>
    </div>
</ng-container>