<!-- <div class="card mb-4">
    <a href="#!"><img class="card-img-top" [src]="burger?.image" alt="..." /></a>
    <div class="card-body">
        <h2 class="card-title h4">{{burger?.nom}}</h2>
        <h2 class="card-title h4">{{burger?.prix}}</h2>
        <p class="card-text">{{burger?.description|slice:0:50}}</p>
        <a class="btn btn-primary" routerLink="/client/details/{{burger?.id}}">Read more →</a>
        <a class="btn btn-primary" routerLink="">Ajout</a>

    </div>
</div> -->
    <div class="cardcato">
        <div class="text-center">
            <h3>Burger simple</h3>
            <h3>prix</h3>
        </div>
        <a href="#!"><img class="card-img-top" src="assets/images/b8.png" alt="..." /></a>
        <div class="d-flex m-4">
            <a class="text-decoration-none btn btn-secondary" href="">
                <h2 class="card-title h4">Ajout</h2>
            </a>
            <a class="text-decoration-none btn btn-secondary" href="">
                <h2 class="card-title h4">Détails</h2>
            </a>
        </div>
    </div>
