<!-- <div class="card mb-4">
    <a href="#!"><img class="card-img-top" [src]="burger?.image" alt="..." /></a>
    <div class="card-body">
        <h2 class="card-title h4">{{burger?.nom}}</h2>
        <h2 class="card-title h4">{{burger?.prix}}</h2>
        <p class="card-text">{{burger?.description|slice:0:50}}</p>
        <a class="btn btn-primary" routerLink="/client/details/{{burger?.id}}">Read more →</a>
        <a class="btn btn-primary" routerLink="">Ajout</a>

    </div>
       <img class="card-img-top" src="assets/images/b8.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">burger royal</h5>
          <h5 class="card-title">2000f</h5>
          <h5 class="card-title">description:burger simple tres ....</h5> 
</div> -->
 
    <div class="card m-4" style="width: 23rem;">
      
          <a href="#!"><img class="card-img-top" [src]="produit?.image" alt="..." /></a>
          <div class="card-body">
            <h2 class="card-title" >{{produit?.prix}}</h2>
            <h2 class="card-title h4">{{produit?.nom}}</h2>
            <p class="card-text">{{produit?.description|slice:0:50}}</p>
            <a href="#" class="btn btn-secondary m-5" routerLink="details/{{produit?.id}}">Details</a>
            <a href="#" class="btn btn-secondary"  routerLink="#">Ajout</a>
        </div>
    </div>
