<!-- <div class="toolbar" role="banner">
    
    <div class="spacer">
    </div>
    <div class="icone">
         <span>Apropos</span>
         <span>Blog</span>
         <span>Contact</span> 
  
    <a class="" href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
    <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>
    </div>
  </div> -->


<!-- <div class="container my-5"> -->

     <footer class="text-center text-lg-start" style="background-color: #E4B028;">
       <div class="container d-flex justify-content-center py-3">
         <button type="button" class="btn btn-primary btn-lg btn-floating mx-2 border border-1" style="background-color: #E4B028;">
           <i class="fab fa-facebook-f"></i>
         </button>
         <button type="button" class="btn btn-primary btn-lg btn-floating mx-2 border border-1" style="background-color: #E4B028;">
           <i class="fab fa-youtube"></i>
         </button>
         <button type="button" class="btn btn-primary btn-lg btn-floating mx-2 border border-1" style="background-color: #E4B028;">
           <i class="fab fa-instagram"></i>
         </button>
         <button type="button" class="btn btn-primary btn-lg btn-floating mx-2 border border-1" style="background-color: #E4B028;">
           <i class="fab fa-twitter"></i>
         </button>
       </div>
      
       <div class="text-center text-white p-3">
        <h2>BRASIL BURGER SENEGAL</h2> 
     
       </div>
     
     </footer>
     
   <!-- </div> -->

