<table class="table table-striped shadow">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">NomProduit</th>
        <th scope="col">Quantite</th>
        <th scope="col">Prix Unitaire</th>
        <th scope="col">Prix Total</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Burger Royal
        </td>
        <td><a href="#" class="btn border border-2">-</a> 2 <a class="btn border border-2">+</a></td>
        <td>1000</td>
        <td>2000</td>
        <td> <i class="fa-solid fa-trash-can m-4 fa-2x" style="color: red;"></i></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Burger simple
        </td>
        <td> <input class="btn border border-2" type="number" style="width: 5rem;"> </td>
        <td>1000</td>
        <td>4000</td>
        <td> <i class="fa-solid fa-trash-can m-4 fa-2x" style="color: red;"></i></td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Boisson
        </td>
        <td><a href="#" class="btn border border-2">-</a> 2 <a class="btn border border-2">+</a></td>
        <td>500</td>
        <td>1000</td>
        <td> <i class="fa-solid fa-trash-can m-4 fa-2x" style="color: red;"></i></td>
      </tr>
    </tbody>
</table>
<h3>Montant Total:7000</h3>
