<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">NomProduit</th>
        <th scope="col">Quantite</th>
        <th scope="col">Prix Unitaire</th>
        <th scope="col">Prix Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Burger Royal
            <small class="btn">suprimer</small>
        </td>
        <td><a href="#" class="btn border border-2">-</a> 2 <a class="btn border border-2">+</a></td>
        <td>1000</td>
        <td>2000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Burger simple
            <small class="btn b-0">suprimer</small>
        </td>
        <td><a href="#" class="btn border border-2">-</a> 4 <a class="btn border border-2">+</a></td>
        <td>1000</td>
        <td>4000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Boisson
            <small class="btn col-2">suprimer</small>
        </td>
        <td><a href="#" class="btn border border-2">-</a> 2 <a class="btn border border-2">+</a></td>
        <td>500</td>
        <td>1000</td>
      </tr>
    </tbody>
</table>
<h3>Montant Total:7000</h3>
