/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/@fortawesome/fontawesome-free/css/all.css" */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.container{
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2) 10px 10px 0 0 rgba(0,0,0,0.24) ;
    margin-top: 5%;

}

.card{
    border: 2px solid;
    margin-top: 3%;
    height: auto;
}

.head{
    margin-top: 5em;
    padding: 2em;
    background-image: url(assets/images/fond.png);
}

#df input{
    width: 4em;
    margin-right: 0%;
}
#df button{
    width: 2em;
    margin: 4px;
    border: none;
    height: 2em;
}

.image{
    margin-left: 10rem;
}
.boissonMenu{
    display: flex;
    flex-direction: column;
}

.dboisson, .dportion{
    overflow-y: scroll;
    height: 28rem; 
}

#df input{
    width: 4em;
    margin-right: 0%;
}
#df button{
    width: 2em;
    margin: 4px;
    border: none;
    height: 2em;
}
.panier{
    height: auto;
    overflow-y: scroll;
}